upstream backend {
{% for server in servers %}
  server {{ server }};
{% endfor %}
}

server {
    #listen 443 ssl;
    #listen [::]:443 ssl;
    listen 80;

    server_name {{ domain_name }} {{ additional_domain_name }};

    location / {
        proxy_pass http://backend;
    }

    #include snippets/self-signed.conf;
    access_log /var/log/nginx/{{ domain_name }}.access.log;
    error_log /var/log/nginx/{{ domain_name }}.error.log;
}